{% assign url_parts = page.url | split: '/' %}
{% assign url_last = url_parts |last  %}

<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    
    <li>
      <a href="{{ site.baseurl }}/about/">About</a>
    </li>
    
    <li {% if url_last ==  'user-stories' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/user-stories/">User Stories</a>
    </li>
    
    <li {% if url_parts contains 'data-packages' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/data-packages/">Data Packages</a>
    </li>
    
    <li {% if url_last ==  'tools' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/tools/">Tools</a>
    </li>
    
    <li {% if url_last ==  'roadmap' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/roadmap/">Roadmap</a>
    </li>
    
    <li {% if url_last ==  'guides' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/guides/">Guides</a>
    </li>
    
    <li {% if url_last ==  'get-involved' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/get-involved/">Get Involved</a>
    </li>
    
    <li {% if url_last ==  'faq' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/faq/">FAQ</a>
    </li>
    
    <li {% if url_last ==  'partners' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/partners/">Partners</a>
    </li>
    
    <li {% if url_last ==  'case-studies' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/case-studies/">Case Studies</a>
    </li>
    
    <li {% if url_last ==  'blog' %}class="Selected"{% endif %}>
      <a href="http://okfnlabs.org/blog/">Blog</a>
    </li>
    
    <li>
      <a href="http://specs.frictionlessdata.io/">
        Specifications
      </a>
    </li>
  </ul>
</nav>
