[dp]: /guides/data-package/
[tdp]: /guides/tabular-data-package/
[jts]: /guides/json-table-schema/
[jts-types]: http://dataprotocols.org/json-table-schema/#field-types-and-formats
[csv]: /guides/csv/
[json]: http://en.wikipedia.org/wiki/JSON

[spec-dp]: http://dataprotocols.org/data-packages/
[spec-tdp]: http://dataprotocols.org/tabular-data-package/
[spec-jts]: http://dataprotocols.org/json-table-schema/

[publish]: /guides/publish/
[pub-tabular]: /guides/publish/tabular/
[pub-online]: /guides/publish/online/
[pub-any]: /guides/publish/any/
[pub-geo]: /guides/publish/geo/
[pub-faq]: /guides/publish/faq/

[tools]: /tools/
[dp-creator]: http://data.okfn.org/tools/create
[dp-viewer]: http://data.okfn.org/tools/view
[dpm]: https://github.com/okfn/dpm


