@import "node_modules/bootstrap/scss/card";

.card {
  font-family: $font-family-sans-serif;

  .card-header {
    line-height: 1.2;
    font-size: $font-size-sm;

    .card-title {
      font-size: $font-size-lg;
      margin-bottom: 0.1em;

      a {
        color: inherit;
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  .card-body {
    & > :last-child {
      margin-bottom: 0;
    }

    & > ul,
    & > ol {
      padding-left: 1em;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
