#research .researchers-template .banner {
  background-color: $orange;
  font-weight: 600;
  line-height: 1.5;
}

.researchers-template .banner h1 {
  font-weight: 800;
  margin-top: 0.5em;
}

.researchers-template .banner h1 small {
  display: block;
  font-size: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.1em;
}

.researchers-template .banner p {
  font-size: 16px;
}

.researchers-template .banner .btn {
  margin: 0.5rem 1rem 0.5rem 0;
}

.researchers-template .banner .btn-light,
.researchers-template .banner .btn-light:hover {
  color: $orange;
}
@include media-breakpoint-up(md) {
  .researchers-template .banner p {
    font-size: 17px;
  }
}
@include media-breakpoint-up(lg) {
  .researchers-template .banner {
    background-image: url("../img/field-guide-banner-bg.png");
    background-size: auto 480px;
    background-repeat: repeat-x;
    background-position: center bottom;
    padding: 0;
  }

  .researchers-template .banner .container {
    background-image: url("../img/field-guide-banner-img.png");
    background-size: auto 480px;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .researchers-template .banner h1 {
    font-size: 80px;
    margin-top: 0;
  }

  .researchers-template .banner p {
    max-width: 50%;
  }
}
@include media-breakpoint-up(xl) {
  .researchers-template .banner {
    background-size: auto 570px;
  }

  .researchers-template .banner .container {
    background-size: auto 570px;
    padding-top: 71.25px;
    padding-bottom: 95px;
  }

  .researchers-template .banner h1 {
    font-size: 50px;
  }

  .researchers-template .banner p {
    font-size: 18px;
  }
}

.researchers-template .researcher-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-left: -30px;
  font-size: 15px;
}

.researchers-template .researcher-list li {
  display: inline-flex;
  font-family: $font-family-sans-serif;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 3rem;
}
@include media-breakpoint-up(lg) {
  .researchers-template .researcher-list li {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@include media-breakpoint-up(xl) {
  .researchers-template .researcher-list li {
    align-items: center;
  }
}

.researchers-template .researcher-list li .image {
  display: none;
  order: 2;
}
@include media-breakpoint-up(sm) {
  .researchers-template .researcher-list li .image {
    display: inline-block;
    width: 150px;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-left: 2rem;
  }
}
@include media-breakpoint-up(xl) {
  .researchers-template .researcher-list li .image {
    width: 190px;
    height: 100%;
    border-width: 4px;
  }
}

.researchers-template .researcher-list li .read {
  font-weight: 600;
  display: inline-block;
  margin-top: 0.5em;
  font-size: 1.1em;
}

.researchers-template .researcher-list li h1 {
  font-weight: 800;
  font-size: 28px;
}
@include media-breakpoint-up(xl) {
  .researchers-template .researcher-list li h1 {
    font-size: 32px;
  }
}

.researchers-template .researcher-list li h1 a {
  color: inherit;
}

.researchers-template .researcher-list li p {
  margin: 0;
}

.researchers-template .page > section:nth-child(odd) {
  background-color: $gray-100;
}

.researchers-template .page > section.text {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.researchers-template .page > section .container > h1,
.researchers-template .page > section .container > h2 {
  font-size: 2em;
  font-weight: normal;
  color: rgba(38, 38, 38, 0.75);
}

.researchers-template .page > section .container > div {
  font-family: $font-family-sans-serif;
  margin-top: 1em;
}
@include media-breakpoint-up(lg) {
  .guides-template .page > section .container > div {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
  }
}

.researcher-template .main .content {
  position: static;
}

.researcher-template header {
  font-family: $font-family-sans-serif;
  font-weight: 600;
}

.researcher-template header h1 {
  font-weight: 800;
}

.researcher-template header .image > img {
  display: none;
}

.researcher-template header .image > div {
  display: none;
}
@include media-breakpoint-up(md) {
  .researcher-template header h1 {
    font-size: 4rem;
  }
}
@include media-breakpoint-up(lg) {
  .researcher-template header {
    display: flex;
    font-size: 22px;
  }

  .researcher-template header h1 {
    font-size: 64px;
  }

  .researcher-template header .text {
    width: 67%;
    flex-shrink: 0;
  }

  .researcher-template header .image > img {
    display: block;
    visibility: hidden;
  }

  .researcher-template header .image > div {
    display: block;
    position: absolute;
    left: 50%;
    width: 50%;
    z-index: -1;
    overflow: hidden;
    margin-top: -10px;
  }

  .researcher-template header .image > div img {
    margin-left: 188px;
  }
}
@include media-breakpoint-up(xl) {
  .researcher-template header .image > div img {
    margin-left: 317px;
  }
}

.researcher-template .meta {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: $font-family-sans-serif;
  margin-bottom: 1rem;
}

.researcher-template .meta dl {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: $gray-200;
  align-items: center;
  margin-right: 2px;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
}

.researcher-template .meta dl dt {
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.researcher-template .meta dl dt::after {
  content: ':';
}

.researcher-template .meta dl dd {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.researcher-template .meta dl dd a {
  display: inline-block;
  background-color: $gray-800;
  color: $white;
  font-weight: 600;
  padding: 0.25em 1em;
  margin: 0.5rem;
}

.researcher-template .meta dl dd a svg {
  fill: $white;
}

.researcher-template .meta dl dd a:hover {
  color: $white;
}

.researcher-template .meta dl.tools dd a {
  background-color: $orange;
}
