{% macro render_post_preview(post, from_index=false) %}
  <div class="{{ post.article_type }} preview cat-{{ post.article_type }}">
    <div class="{% if post.article_type != 'pilots' %}{% if post.subject_img %}has {% endif %}{% endif %}image">
      <a href="{{ post|url }}" {% if post.article_type != 'pilots' %}{% if post.subject_img %} style="background-image: url({{ post|url }}{{ post.subject_img }});"{% endif %}{% endif %}>

        {% if post.article_type != 'pilots' %}
        {% if not post.subject_img %}
        <span class="letter">
        {{ post.title|truncate(1, True, '') }}
        </span>
        {% endif %}
        {% endif %}
      </a>
      {% for t in site.query('/article-types') %}
      {% if t._id == post.article_type %}
      <span class="type">{{ t.singular }}</span>
      {% endif %}
      {% endfor %}
    </div>
    <h3 class="article-heading"><a href="{{ post|url }}">{{ post.title }}</a></h3>

  {% if post.summary %}
  <p class="summary">
    {{ post.summary }}
  </p>
  {% endif %}
  </div>
{% endmacro %}
