{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="banner">
  <div class="container">
    <h1>{{ this.title }}</h1>
    <div class="filter-button-group">
      <button class="btn selected" data-filter="*" description="{{ this.description }}">{{ bag('global_content').all }}</button>
      {% for category in site.query('/tool-categories') %}
      {% if category.children %}
      <button class="btn" id="{{ category.name }}" data-filter=".cat-{{ category._id }}" description="{{ category.description }}" >{{ category.name }}</button>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


<div class="container">
  <div class="tool-list-description" id="category_description"></div>
  <div class="tool-list">
    {% for tool in site.query('/software') %}
    {% if tool.featured %}
    <div class="tool-item cat-{{ tool.tool_category }} featured">
      <div class="inner"{% if tool.featured_colour %} style="background-color: #{{ tool.featured_colour }}; border-color: #{{ tool.featured_colour }}"{% endif %}>
        <h3>
          {{ tool.title }}{% for item in tool.tags %} <small>{{ item }}</small>{% endfor %}
        </h3>
        {{ tool.description }}

        {% if tool.link1 %}
        <a href="{{ tool.link1 }}" class="btn" rel="external"{% if tool.featured_colour %} style="color: #{{ tool.featured_colour }}"{% endif %}>{% if tool.link1_label %}{{ tool.link1_label  }}{% else %}{{ tool.link1.host }}{% endif %}</a>
        {% endif %}
        {% if tool.link2 %}
        <a href="{{ tool.link2 }}" class="btn" rel="external"{% if tool.featured_colour %} style="color: #{{ tool.featured_colour }}"{% endif %}>{% if tool.link2_label %}{{ tool.link2_label  }}{% else %}{{ tool.link2.host }}{% endif %}</a>
        {% endif %}
        {% if tool.link3 %}
        <a href="{{ tool.link3 }}" class="btn" rel="external"{% if tool.featured_colour %} style="color: #{{ tool.featured_colour }}"{% endif %}>{% if tool.link3_label %}{{ tool.link3_label  }}{% else %}{{ tool.link3.host }}{% endif %}</a>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div class="tool-item cat-{{ tool.tool_category }}">
      <div class="inner">
        <h3>
          {{ tool.title }}{% for item in tool.tags %} <small>{{ item }}</small>{% endfor %}
        </h3>
        {{ tool.description }}

        {% if tool.link1 %}
        <a href="{{ tool.link1 }}" class="btn" rel="external">{% if tool.link1_label %}{{ tool.link1_label  }}{% else %}{{ tool.link1.host }}{% endif %}</a>
        {% endif %}
        {% if tool.link2 %}
        <a href="{{ tool.link2 }}" class="btn" rel="external">{% if tool.link2_label %}{{ tool.link2_label  }}{% else %}{{ tool.link2.host }}{% endif %}</a>
        {% endif %}
        {% if tool.link3 %}
        <a href="{{ tool.link3 }}" class="btn" rel="external">{% if tool.link3_label %}{{ tool.link3_label  }}{% else %}{{ tool.link3.host }}{% endif %}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endblock %}

</div>
