---
layout: default
wide: true
---

{% assign section = page.section %}

{% assign section_base = site.baseurl | append: section | append: '/' %}

<div class="post">
  <article class="post-content{% if page.lead %} lead-paragraph{% endif %}">
    <a href="/{{ section_base }}" class="pre-header">{{ section }}</a>

    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.authors %}
    <div class="author">An Interview with
      <ul>
      {% for author in page.authors %}
        <li>{{ author }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}


    <img style="margin: 0 auto; float: left" src="/img/grantee-profiles/{{ page.image }}">
    <h3> {{ page.authors }}</h3><a href="{{ page.github }}"> . GITHUB </a> .  <a href="{{ page.linkedin }}"> LINKEDIN </a> . <a href="{{ page.twitter }}"> TWITTER </a>.

    <p>
      This grantee profile is one in our series of Frictionless Data Tool Fund posts,
      written to shine a light on Frictionless Data’s Tool Fund grantees, their work
      and to let our technical community know how they can get involved.
      Frictionless Data Tool Fund grantees are individuals and organizations that
      Open Knowledge International has commissioned to extend implementation of
      Frictionless Data libraries in additional programming languages.
    </p>

    <hr>

    {{ content }}

    <hr>

    <em>Have a question or comment?  Let us know our <a href="http://gitter.im/frictionlessdata/chat">Frictionless Data Gitter chat</a>
      or <a href="http://discuss.okfn.org/c/frictionless-data">on our Discuss</a>.</em>

  </article>

</div>

{% include page-tools.html %}
