---
layout: default
wide: true
---

{% assign section = page.section %}

{% assign section_base = site.baseurl | append: section | append: '/' %}

<div class="post">
  <article class="post-content{% if page.lead %} lead-paragraph{% endif %}">
    <a href="/{{ section_base }}" class="pre-header">{{ section }}</a>

    <h1 class="post-title">{{ page.title }}</h1>

    {% if page.authors %}
    <div class="author">Written by
      <ul>
      {% for author in page.authors %}
        <li>{{ author }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <a href="{{ page.repository }}">
      <img style="margin: 0 auto;" src="{{ page.logo }}">
    </a>

    <p>
      Through our Pilots, we are working directly with organizations to
      solve real problems managing data.
    </p>

    {{ content }}

    <hr>

    <em>Have a question or comment?  Want to follow along?  Check out
      the <a href="{{ page.repository }}">repository for this
      pilot</a>.</em>

  </article>

</div>

{% include page-tools.html %}
